.todo__list {
  overflow-y: auto;
  height: 400px;
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .list__item {
    background: #e0e8f5;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 3px;
    padding: 10px;
    padding-right: 45px;

    &.checked .list__item-text {
      text-decoration: line-through;
      color: #888;
    }

    &-text {
      word-break: break-all;
    }

    .delete {
      position: absolute;
      right: 0;
      width: 0px;
      height: 100%;
      background-color: orange;
      transition: all linear 0.3s;
      opacity: 0;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        background-image: url('../../assets/trash-bin.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transform: translate(-50%, -50%) scale(0.5);
        transition: all ease-in 0.28s;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        opacity: 0;
      }
    }

    &:hover .delete {
      width: 45px;
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }
  }
}
